<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Главная страница{% endblock %}</title>
    {% load staticfiles %}
    <link href={% static 'css/bootstrap.min.css' %} rel='stylesheet'>
    <link href={% static 'css/bootstrap.css' %} rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                dsghdfhdfhkdgkndfkgnkdfngkdndkgnkgd
                dfbbdfbsdfbsdb fh fg
                sdbhd x dh dhdh hx
                sdfb d xhxdfh fh xfg
                dbdfbdd fhh xfghfg
                fbdfdf dfd hdf d
                sddfh xdf hg xdfh xfg hxfhx
                fbsdfbd sdb df
                sdfb d hdfhx
                 sdfbsdfb dfbdbdh dghsdgh
                 dg sfgfh fh fgh xfg
                nfgbnnnnnnnc
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <ul>
                    <li>dgkkdfgkd jklgdjb zdkbdb</li>
                    <li>dfh dfhfghf ghghd hhf gh fg hx gf hxf</li>
                    <li>ghfghxfghgfxfhxfhxfghf</li>
                </ul>
            </div>
            <div class="col-md-8">dfbzdfbcvbdrbzzdfbzdbzdbziovbziodjfiobjozdbjdijbizdb
            xnxcvnvbnvbnc vbncvbnvbcnvcnncvbncv d ghfdh bncvbn vbncvnvcnvb nvbnvnvcbn
            vbncvncvbcncvbnc vbncvbncvb ncvbncvncvnc vncvbncv ncvncvncvn
            vbncvncvncvbcv cv v vvcb cv vb cv cvb vb vb cvs</div>
            <div class="col-md-2">d21351 35dfb4df 5454z5 465z4b5z6db
                dz5f4b54 zdf54b5f4zd5b454 fd5b4fz4d6bz
                zdfb45zd4f5b4z4d5f4 b6zdf4bz6d4b54z5</div>
        </div>

    </div>
</body>
</html>